html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin-top:56px;
}

@media(min-width:960px) {
  html {
    margin-top:64px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root .MuiButtonBase-root {
  opacity:0;
}

.MuiTypography-root:hover .MuiButtonBase-root {
  opacity:1;
}