body > div#placeholder {
    content: "";
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: #fff;
    z-index:10000;
    opacity:1;
    transition: opacity 200ms ease-out;
  }
body > div#placeholder.hide {
  opacity:0;
  pointer-events:none;
}
body > div#placeholder:after {
  content: "";
  position:fixed;
  left:0;
  top:0;
  right:0;
  height: 48px;
  background: #616161;
  z-index:1;
}
  
@media(min-width:960px) {
  body > div#placeholder:after {
    height:48px;
  }
}