body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (min-width: 768px) {
  body {
    overflow: hidden;
    height: 100vh;
  }
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* 404 page styles: START */

.container__404 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center center;
  text-align: center;
  background-color: #20abad;
  color: #e4f5f5;
  font-family: "Geometria",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card__404 {
  display: flex;
  flex-flow: column nowrap;
  margin-top: -5vh;
}

.card__404>* {
  margin: 0;
}

.card__404 h1 {
  font-size: 5rem;
  line-height: 1;
}

.card__404 a {
  border: 1px solid #90d5d6;
  padding: 1rem 2rem;
  border-radius: .25rem;
  margin-top: 1rem;
  transition: background-color .3s;
  color: #e4f5f5;
  text-decoration: none;
}

.card__404 a:hover {
  background-color: #189a9c;
}

/* 404 page styles: END */


.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #303030;
  font-weight: 500;
  background-color: #606469;
  border: 1px solid #191d24;
  margin-left: -1px;
  font-size: 0.8rem;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
  z-index: 2;
  background-color: #8e9094;
  border-color: #191d24;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  z-index: 3;
  color: #fff;
  background-color: #1c2129;
  border-color: #191d24;
  cursor: default;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
  color: #606469;
  background-color: #3e4249;
  border-color: #191d24;
  cursor: not-allowed;
}

.pagination {
  display: flex;
  padding-left: 0;
  border-radius: 10px;
  align-items: stretch;
  height: 36px;
}

.pagination>li {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: stretch;
  cursor: pointer;
}

.pagination>li>a,
.pagination>li>span {
  display: flex;
  align-items: center;
}