{
  "openapi": "3.0.0",
  "info": {
    "title": "OrderCloud",
    "description": "OrderCloud is an awesome C# platform API for making eCommerce applications. It is NOT a complete solution. It's designed to be used as the backend component with various other integrations and services.",
    "version": "1.0.109",
    "contact": {
      "name": "OrderCloud",
      "url": "http://ordercloud.io",
      "email": "ordercloud@four51.com"
    }
  },
  "servers": [{
    "url": "https://api.ordercloud.io/v1",
    "description": "Main API Server (OrderCloud resources requiring an access token)"
  }],
  "tags": [{
      "name": "Authentication and Authorization",
      "description": "The OrderCloud.io API implements OAuth2 combined with our own notion of Roles to control user authentication and authorization at fine-grain level. Be prepared to spend time learning about these concepts and designing the right model for your application. If you over-privilege your users and attempt to control what they can do via front-end code, you run the risk of technically savvy users circumventing this by making direct API calls.",
      "x-id": "AuthenticationAndAuthorization"
    },
    {
      "name": "Security Profiles",
      "description": "",
      "x-section-id": "AuthenticationAndAuthorization"
    },
    {
      "name": "Forgotten Password",
      "description": "",
      "x-section-id": "AuthenticationAndAuthorization"
    },
    {
      "name": "Impersonation Configs",
      "description": "",
      "x-section-id": "AuthenticationAndAuthorization"
    },
    {
      "name": "Open Id Connects",
      "description": "",
      "x-section-id": "AuthenticationAndAuthorization"
    },
    {
      "name": "Seller",
      "description": "At the center of any OrderCloud.io solution is a single Seller organization. It consists directly of Users, Groups, and Addresses (used mainly for shipping calculations), which should be established ahead of Product Catalogs, Buyers, and Suppliers.",
      "x-id": "Seller"
    },
    {
      "name": "Admin Users",
      "description": "Users on an Organization level are users that have administrative access to things like adding users, creating catalogs, processing orders or creating products. These users are not specific to a buyer company.",
      "x-section-id": "Seller"
    },
    {
      "name": "Admin User Groups",
      "description": "",
      "x-section-id": "Seller"
    },
    {
      "name": "Admin Addresses",
      "description": "",
      "x-section-id": "Seller"
    },
    {
      "name": "Message Senders",
      "description": "",
      "x-section-id": "Seller"
    },
    {
      "name": "Api Clients",
      "description": "",
      "x-section-id": "Seller"
    },
    {
      "name": "Incrementors",
      "description": "An incrementor is used to add an atomically incremented number to your object IDs. For example, \"aprefix-{myIncrementorID}\", will yield an order ID of aprefix-10010.",
      "x-section-id": "Seller"
    },
    {
      "name": "Webhooks",
      "description": "",
      "x-section-id": "Seller"
    },
    {
      "name": "Xp Indices",
      "description": "",
      "x-section-id": "Seller"
    },
    {
      "name": "Buyers",
      "description": "Buyers represent real-world legal entities to which the Seller offers Product Catalogs and from which the Seller receives Orders. Buyers contain many of the same things as Sellers (Users, Groups, Addresses) and much more, including Cost Centers, Spending Accounts, and Approval Rules.\nAssignments are prevalent concept. Most \"things\" can be assigned to a User, Group, or entire Buyer organization. Plan ahead, and use Groups to your advantage here. For example, if you assign 100 Addresses directly to 50 Users, you are going to need to create 100 additional assignments every time you add a new User. Or, 50 more assignments for every new Address. With careful planning, Groups can save you from \"assignment hell\".",
      "x-id": "Buyers"
    },
    {
      "name": "Buyers",
      "description": "Buyers, or customers, are the organizations that view the categories and products and place orders.",
      "x-section-id": "Buyers"
    },
    {
      "name": "Users",
      "description": "A user is a person with access to the application.  The properties of a user define who they are and what they are able to do with their login to the application.",
      "x-section-id": "Buyers"
    },
    {
      "name": "User Groups",
      "description": "User Groups are used to streamline the management of users within an application.  By placing like users in groups, you can filter content, define order management rules, and manage changes much more easily than trying to account for individual users.",
      "x-section-id": "Buyers"
    },
    {
      "name": "Addresses",
      "description": "Addresses are used for the purposes of billing and shipping an order.  An address may belong to a list that can be shared among many users if appropriate.",
      "x-section-id": "Buyers"
    },
    {
      "name": "Cost Centers",
      "description": "A cost center is used to allocate organizational expenditures.  Different businesses call these by different names such as \"allocation codes\" or \"charge back codes\", but the basic purpose is the same - to allocate an expense back to someone or some department of an organization.",
      "x-section-id": "Buyers"
    },
    {
      "name": "Credit Cards",
      "description": "Credit cards are used as a payment method for an order.  A user may have access to one or many credit cards for personal spend or group spending.\nCredit Cards may be saved and assigned to members of an organization for use during purchase.",
      "x-section-id": "Buyers"
    },
    {
      "name": "Spending Accounts",
      "description": "Spending Accounts are funds given to users by a managing entity and are managed as part of a user's account.  These funds are generally used as \"corporate dollars\", \"rewards dollars\", or \"gift cards\".\nThey can be used to pay for all of or part of an order with parameters that control account expiration, balance available, balance renewal, user access and overdraft.\nMultiple spending accounts can be assigned to a member of an organization and applied to all transactions, but only one can be used as a payment method.\nWhen multiple Spending Accounts are used on a transaction each is deducted individually.",
      "x-section-id": "Buyers"
    },
    {
      "name": "Approval Rules",
      "description": "Approval rules are used to verify the integrity of an order.  Common examples include orders requiring managerial approval, approval for orders that contain a specific product category, approval for quantity thresholds or approval for orders that exceed a specific price.  Properties are also available to control the triggers and timing for processing approvals whether parallel to another rule, or in succession of a previous rule.",
      "x-section-id": "Buyers"
    },
    {
      "name": "Suppliers",
      "description": "Suppliers are a third, optional type of organization used in indirect supply chain scenarios. Like the Seller, they contain Users and Groups. Once established, Products can be configured to auto-forward to Suppliers when ordered. This will automatically create a new PO, notify the Supplier, and track costs and profit margins if configured.",
      "x-id": "Suppliers"
    },
    {
      "name": "Suppliers",
      "description": "Suppliers are the organizations that supply products distributed by Seller oganizations.",
      "x-section-id": "Suppliers"
    },
    {
      "name": "Supplier Users",
      "description": "A user is a person with access to the application.  The properties of a user define who they are and what they are able to do with their login to the application.",
      "x-section-id": "Suppliers"
    },
    {
      "name": "Supplier User Groups",
      "description": "User Groups are used to streamline the management of users within an application.  By placing like users in groups, you can filter content, define order management rules, and manage changes much more easily than trying to account for individual users.",
      "x-section-id": "Suppliers"
    },
    {
      "name": "Supplier Addresses",
      "description": "",
      "x-section-id": "Suppliers"
    },
    {
      "name": "Product Catalogs",
      "description": "Products are priced (or unpriced) goods that can be offered to Buyers for placement on Orders. A Product can belong to any number of Catalogs, and a Catalog can be organized into hierarchical Categories to any arbitrary depth. Catalogs are assigned to Buyers, though visibility and pricing may vary by Buyer, User Group, Category, or individual Product. Pricing may include quantity breaks (collectively called a Price Schedule), and Price Schedules may be shared with multiple Products. User-selected Specs, which may include price markups, can be assigned to Products, enabling Buyer configurability at the time of ordering.",
      "x-id": "ProductCatalogs"
    },
    {
      "name": "Catalogs",
      "description": "A Catalog represents a group of categories used to group and place content for a specific audience. All buyers are issued and assigned a default catalog upon creation. Catalogs can be shared between buyers using assignments.",
      "x-section-id": "ProductCatalogs"
    },
    {
      "name": "Categories",
      "description": "Categories are used within a catalog to group and place content for a specific audience. Content can be in the form of another category, nested categories, products or HTML.",
      "x-section-id": "ProductCatalogs"
    },
    {
      "name": "Products",
      "description": "A Product represents a physical, digital, or absract good that is offered for sale by a seller organization and is purchase-able by Buyer Users via an Order. \nProducts can be a static SKU or a version of a static SKU, known as a Variant.  For example, a variant is often a size or color choice that drives a different product SKU.\nProducts may also have inventory associated with them and various inventory attributes like quantity available and re-order notifications.",
      "x-section-id": "ProductCatalogs"
    },
    {
      "name": "Price Schedules",
      "description": "Price schedules allow the same product to be sold across multiple channels.  A price schedule may include quantity price breaks, min and max quantity per order, whether to apply tax or shipping calculations, or to what type of order the price schedule applies.",
      "x-section-id": "ProductCatalogs"
    },
    {
      "name": "Specs",
      "description": "Specs are used to capture user input when adding a Product to an Order. At its simplest, a spec is a name/value pair. A spec value may have a price markup or markdown associated with it. In more advanced scenarios, specs can drive the product SKU. For example, a product may be available in 3 colors and 3 sizes and therefore have a total of 9 SKUs. **The OrderCloud platform will choose the correct SKU based on the user-selected color and size specs**.",
      "x-section-id": "ProductCatalogs"
    },
    {
      "name": "Product Facets",
      "description": "A product facet is an extended property (value on product.xp) designated to participate in faceted navigation. Buyer list endpoints for products will populate and return Meta.Facets, a collection of facet names, values, and counts. Counts represent the total results that would be returned should the current set be further filtered on that facet value.",
      "x-section-id": "ProductCatalogs"
    },
    {
      "name": "Orders and Fulfillment",
      "description": "The central concept within OrderCloud.io is (not surprisingly) the Order. This is where Buyers, Sellers, Products, Addresses, and just about everything else come together to form business transactions. A feature that is somewhat unique to this area of the API is that you'll use the same set of endpoints regardless of whether you're a Buyer, Seller, or Supplier. What's important is the order *direction*, which is either incoming or outgoing. Order IDs are guaranteed unique within that context. As a seller, this means you can aggregate lists of incoming orders from many Buyers, or outgoing orders to many Suppliers. You may filter a list by Buyer or Supplier, but it's not required to uniquely identify an Order. (Buyers typically only deal with outgoing Orders; Suppliers with incoming.) Buyers add Line Items to Orders by specifying a Product, Quantity, and (optionally) Spec values. Shipping is applied at either the Order level or Line Item level. Shipments are independent of Orders; you can ship a partial Order, or aggregate items from multiple Orders onto a single Shipment.",
      "x-id": "OrdersAndFulfillment"
    },
    {
      "name": "Orders",
      "description": "An Order represents a business transaction between two parties. It typically consists of a collection of Line Items, a Payment Method, Tax and Shipping information, etc. The OrderCloud platform defines various \"actions\" that can be performed against Orders, such as Submit, Approve, Ship, etc. These actions transform the state of the order and often trigger external events such as financial transactions.",
      "x-section-id": "OrdersAndFulfillment"
    },
    {
      "name": "Line Items",
      "description": "A Line Item represents a single line on an Order. At a minimum, it contains a single Product SKU and a quantity. A line item may also include Spec values, a Cost Center, shipping details, date needed, and other custom information.",
      "x-section-id": "OrdersAndFulfillment"
    },
    {
      "name": "Promotions",
      "description": "Promotions are used to reduce the cost of a line item or an order.  Promotions can have redemption rules that can be applied for available dates, occurences and value.\nPromotions can be assigned to Products, Categories, Buyers, UserGroups and Users for redemption.",
      "x-section-id": "OrdersAndFulfillment"
    },
    {
      "name": "Payments",
      "description": "",
      "x-section-id": "OrdersAndFulfillment"
    },
    {
      "name": "Shipments",
      "description": "A Shipment is a grouping of one or more Line Items from one or more Orders that is physically packaged and delivered to the Buyer as a single unit. It is typically created by the Seller after the Order is submitted as part of the fulfillment process.",
      "x-section-id": "OrdersAndFulfillment"
    },
    {
      "name": "Me and My Stuff",
      "description": "With an understanding of the robust visibility options involving roles, group-level assignments, Buyer-specific pricing, \"Active\" bits, and the like, you might be wondering, where are all these rules actually enforced? This is the job of the resources that begin with \"me\". Whether authenticated as yourself or impersonating as someone else, you see only what that user is allowed to see. A good rule of thumb is that, other than authentication, you should be able to build an entire Buyer experience using only endpoints that start with \"orders\" or \"me\".",
      "x-id": "MeAndMyStuff"
    },
    {
      "name": "Me",
      "description": "\"Me\" is a container for read-only endpoints that return a filtered view of things that the current buyer user is allowed to see, i.e. things that they are assigned to either directly or as a member of a buyer organization or user group. It also provides ways for a user to update or change their own information.",
      "x-section-id": "MeAndMyStuff"
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "password": {
            "tokenUrl": "https://auth.ordercloud.io/oauth/token",
            "scopes": {
              "AddressAdmin": "",
              "AddressReader": "",
              "AdminAddressAdmin": "",
              "AdminAddressReader": "",
              "AdminUserAdmin": "",
              "AdminUserGroupAdmin": "",
              "AdminUserGroupReader": "",
              "AdminUserReader": "",
              "ApiClientAdmin": "",
              "ApiClientReader": "",
              "ApprovalRuleAdmin": "",
              "ApprovalRuleReader": "",
              "BuyerAdmin": "",
              "BuyerImpersonation": "",
              "BuyerReader": "",
              "BuyerUserAdmin": "",
              "BuyerUserReader": "",
              "CatalogAdmin": "",
              "CatalogReader": "",
              "CategoryAdmin": "",
              "CategoryReader": "",
              "CostCenterAdmin": "",
              "CostCenterReader": "",
              "CreditCardAdmin": "",
              "CreditCardReader": "",
              "FullAccess": "",
              "GrantForAnyRole": "",
              "IncrementorAdmin": "",
              "IncrementorReader": "",
              "InventoryAdmin": "",
              "MeAddressAdmin": "",
              "MeAdmin": "",
              "MeCreditCardAdmin": "",
              "MessageConfigAssignmentAdmin": "",
              "MessageSenderAdmin": "",
              "MessageSenderReader": "",
              "MeXpAdmin": "",
              "OrderAdmin": "",
              "OrderReader": "",
              "OverrideShipping": "",
              "OverrideTax": "",
              "OverrideUnitPrice": "",
              "PasswordReset": "",
              "PriceScheduleAdmin": "",
              "PriceScheduleReader": "",
              "ProductAdmin": "",
              "ProductAssignmentAdmin": "",
              "ProductFacetAdmin": "",
              "ProductFacetReader": "",
              "ProductReader": "",
              "PromotionAdmin": "",
              "PromotionReader": "",
              "SecurityProfileAdmin": "",
              "SecurityProfileReader": "",
              "SetSecurityProfile": "",
              "ShipmentAdmin": "",
              "ShipmentReader": "",
              "Shopper": "",
              "SpendingAccountAdmin": "",
              "SpendingAccountReader": "",
              "SupplierAddressAdmin": "",
              "SupplierAddressReader": "",
              "SupplierAdmin": "",
              "SupplierReader": "",
              "SupplierUserAdmin": "",
              "SupplierUserGroupAdmin": "",
              "SupplierUserGroupReader": "",
              "SupplierUserReader": "",
              "UnsubmittedOrderReader": "",
              "UserGroupAdmin": "",
              "UserGroupReader": "",
              "WebhookAdmin": "",
              "WebhookReader": "",
              "XpIndexAdmin": ""
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://auth.ordercloud.io/oauth/token",
            "scopes": {
              "AddressAdmin": "",
              "AddressReader": "",
              "AdminAddressAdmin": "",
              "AdminAddressReader": "",
              "AdminUserAdmin": "",
              "AdminUserGroupAdmin": "",
              "AdminUserGroupReader": "",
              "AdminUserReader": "",
              "ApiClientAdmin": "",
              "ApiClientReader": "",
              "ApprovalRuleAdmin": "",
              "ApprovalRuleReader": "",
              "BuyerAdmin": "",
              "BuyerImpersonation": "",
              "BuyerReader": "",
              "BuyerUserAdmin": "",
              "BuyerUserReader": "",
              "CatalogAdmin": "",
              "CatalogReader": "",
              "CategoryAdmin": "",
              "CategoryReader": "",
              "CostCenterAdmin": "",
              "CostCenterReader": "",
              "CreditCardAdmin": "",
              "CreditCardReader": "",
              "FullAccess": "",
              "GrantForAnyRole": "",
              "IncrementorAdmin": "",
              "IncrementorReader": "",
              "InventoryAdmin": "",
              "MeAddressAdmin": "",
              "MeAdmin": "",
              "MeCreditCardAdmin": "",
              "MessageConfigAssignmentAdmin": "",
              "MessageSenderAdmin": "",
              "MessageSenderReader": "",
              "MeXpAdmin": "",
              "OrderAdmin": "",
              "OrderReader": "",
              "OverrideShipping": "",
              "OverrideTax": "",
              "OverrideUnitPrice": "",
              "PasswordReset": "",
              "PriceScheduleAdmin": "",
              "PriceScheduleReader": "",
              "ProductAdmin": "",
              "ProductAssignmentAdmin": "",
              "ProductFacetAdmin": "",
              "ProductFacetReader": "",
              "ProductReader": "",
              "PromotionAdmin": "",
              "PromotionReader": "",
              "SecurityProfileAdmin": "",
              "SecurityProfileReader": "",
              "SetSecurityProfile": "",
              "ShipmentAdmin": "",
              "ShipmentReader": "",
              "Shopper": "",
              "SpendingAccountAdmin": "",
              "SpendingAccountReader": "",
              "SupplierAddressAdmin": "",
              "SupplierAddressReader": "",
              "SupplierAdmin": "",
              "SupplierReader": "",
              "SupplierUserAdmin": "",
              "SupplierUserGroupAdmin": "",
              "SupplierUserGroupReader": "",
              "SupplierUserReader": "",
              "UnsubmittedOrderReader": "",
              "UserGroupAdmin": "",
              "UserGroupReader": "",
              "WebhookAdmin": "",
              "WebhookReader": "",
              "XpIndexAdmin": ""
            }
          }
        }
      }
    },
    "schemas": {
      "AccessToken": {
        "type": "object",
        "example": {
          "access_token": "",
          "expires_in": 0,
          "token_type": "",
          "refresh_token": ""
        },
        "properties": {
          "access_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "format": "int32"
          },
          "token_type": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "AccessTokenBasic": {
        "type": "object",
        "example": {
          "access_token": ""
        },
        "properties": {
          "access_token": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "example": {
          "ID": "",
          "DateCreated": "2018-01-01T00:00:00-06:00",
          "CompanyName": "",
          "FirstName": "",
          "LastName": "",
          "Street1": "",
          "Street2": "",
          "City": "",
          "State": "",
          "Zip": "",
          "Country": "",
          "Phone": "",
          "AddressName": "",
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "CompanyName": {
            "type": "string",
            "maxLength": 100
          },
          "FirstName": {
            "type": "string",
            "maxLength": 100
          },
          "LastName": {
            "type": "string",
            "maxLength": 100
          },
          "Street1": {
            "type": "string",
            "maxLength": 100
          },
          "Street2": {
            "type": "string",
            "maxLength": 100
          },
          "City": {
            "type": "string",
            "maxLength": 100
          },
          "State": {
            "type": "string",
            "maxLength": 100
          },
          "Zip": {
            "type": "string",
            "maxLength": 100
          },
          "Country": {
            "type": "string",
            "maxLength": 2
          },
          "Phone": {
            "type": "string",
            "maxLength": 100
          },
          "AddressName": {
            "type": "string",
            "maxLength": 100
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "AddressAssignment": {
        "type": "object",
        "example": {
          "AddressID": "",
          "UserID": "",
          "UserGroupID": "",
          "IsShipping": false,
          "IsBilling": false
        },
        "properties": {
          "AddressID": {
            "type": "string"
          },
          "UserID": {
            "type": "string"
          },
          "UserGroupID": {
            "type": "string"
          },
          "IsShipping": {
            "type": "boolean"
          },
          "IsBilling": {
            "type": "boolean"
          }
        }
      },
      "ApiClient": {
        "type": "object",
        "example": {
          "ID": "",
          "ClientSecret": "",
          "AccessTokenDuration": 0,
          "Active": false,
          "AppName": "",
          "RefreshTokenDuration": 0,
          "DefaultContextUserName": "",
          "xp": {},
          "AllowAnyBuyer": false,
          "AllowAnySupplier": false,
          "AllowSeller": false,
          "IsAnonBuyer": false,
          "AssignedBuyerCount": 0,
          "AssignedSupplierCount": 0
        },
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true
          },
          "ClientSecret": {
            "type": "string"
          },
          "AccessTokenDuration": {
            "type": "integer",
            "format": "int32"
          },
          "Active": {
            "type": "boolean"
          },
          "AppName": {
            "type": "string"
          },
          "RefreshTokenDuration": {
            "type": "integer",
            "format": "int32"
          },
          "DefaultContextUserName": {
            "type": "string"
          },
          "xp": {
            "type": "object"
          },
          "AllowAnyBuyer": {
            "type": "boolean"
          },
          "AllowAnySupplier": {
            "type": "boolean"
          },
          "AllowSeller": {
            "type": "boolean"
          },
          "IsAnonBuyer": {
            "type": "boolean"
          },
          "AssignedBuyerCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "AssignedSupplierCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        }
      },
      "ApiClientAssignment": {
        "type": "object",
        "example": {
          "ApiClientID": "",
          "BuyerID": "",
          "SupplierID": ""
        },
        "properties": {
          "ApiClientID": {
            "type": "string"
          },
          "BuyerID": {
            "type": "string"
          },
          "SupplierID": {
            "type": "string"
          }
        }
      },
      "ApprovalRule": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "Description": "",
          "ApprovingGroupID": "",
          "RuleExpression": "",
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "maxLength": 100
          },
          "Description": {
            "type": "string",
            "maxLength": 2000
          },
          "ApprovingGroupID": {
            "type": "string"
          },
          "RuleExpression": {
            "type": "string",
            "maxLength": 400
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "Buyer": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "DefaultCatalogID": "",
          "Active": false,
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "maxLength": 100
          },
          "DefaultCatalogID": {
            "type": "string"
          },
          "Active": {
            "type": "boolean"
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "BuyerAddress": {
        "type": "object",
        "example": {
          "ID": "",
          "Shipping": false,
          "Billing": false,
          "Editable": false,
          "DateCreated": "2018-01-01T00:00:00-06:00",
          "CompanyName": "",
          "FirstName": "",
          "LastName": "",
          "Street1": "",
          "Street2": "",
          "City": "",
          "State": "",
          "Zip": "",
          "Country": "",
          "Phone": "",
          "AddressName": "",
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true
          },
          "Shipping": {
            "type": "boolean"
          },
          "Billing": {
            "type": "boolean"
          },
          "Editable": {
            "type": "boolean",
            "readOnly": true
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "CompanyName": {
            "type": "string",
            "maxLength": 100
          },
          "FirstName": {
            "type": "string",
            "maxLength": 100
          },
          "LastName": {
            "type": "string",
            "maxLength": 100
          },
          "Street1": {
            "type": "string",
            "maxLength": 100
          },
          "Street2": {
            "type": "string",
            "maxLength": 100
          },
          "City": {
            "type": "string",
            "maxLength": 100
          },
          "State": {
            "type": "string",
            "maxLength": 100
          },
          "Zip": {
            "type": "string",
            "maxLength": 100
          },
          "Country": {
            "type": "string",
            "maxLength": 2
          },
          "Phone": {
            "type": "string",
            "maxLength": 100
          },
          "AddressName": {
            "type": "string",
            "maxLength": 100
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "BuyerCreditCard": {
        "type": "object",
        "example": {
          "ID": "",
          "Editable": false,
          "Token": "",
          "DateCreated": "2018-01-01T00:00:00-06:00",
          "CardType": "",
          "PartialAccountNumber": "",
          "CardholderName": "",
          "ExpirationDate": "2018-01-01T00:00:00-06:00",
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true
          },
          "Editable": {
            "type": "boolean",
            "readOnly": true
          },
          "Token": {
            "type": "string"
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "CardType": {
            "type": "string"
          },
          "PartialAccountNumber": {
            "type": "string",
            "maxLength": 5
          },
          "CardholderName": {
            "type": "string"
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "BuyerProduct": {
        "type": "object",
        "example": {
          "PriceSchedule": {
            "ID": "",
            "Name": "",
            "ApplyTax": false,
            "ApplyShipping": false,
            "MinQuantity": 0,
            "MaxQuantity": 0,
            "UseCumulativeQuantity": false,
            "RestrictedQuantity": false,
            "PriceBreaks": [{
              "Quantity": 0,
              "Price": 0
            }],
            "xp": {}
          },
          "ID": "",
          "Name": "",
          "Description": "",
          "QuantityMultiplier": 0,
          "ShipWeight": 0,
          "ShipHeight": 0,
          "ShipWidth": 0,
          "ShipLength": 0,
          "Active": false,
          "SpecCount": 0,
          "xp": {},
          "VariantCount": 0,
          "ShipFromAddressID": "",
          "Inventory": {
            "Enabled": false,
            "NotificationPoint": 0,
            "VariantLevelTracking": false,
            "OrderCanExceed": false,
            "QuantityAvailable": 0,
            "LastUpdated": "2018-01-01T00:00:00-06:00"
          },
          "DefaultSupplierID": ""
        },
        "properties": {
          "PriceSchedule": {
            "allOf": [{
              "$ref": "#/components/schemas/PriceSchedule"
            }],
            "readOnly": true
          },
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "maxLength": 100
          },
          "Description": {
            "type": "string",
            "maxLength": 2000
          },
          "QuantityMultiplier": {
            "type": "integer",
            "format": "int32",
            "default": 1,
            "minimum": 1
          },
          "ShipWeight": {
            "type": "number",
            "format": "float"
          },
          "ShipHeight": {
            "type": "number",
            "format": "float"
          },
          "ShipWidth": {
            "type": "number",
            "format": "float"
          },
          "ShipLength": {
            "type": "number",
            "format": "float"
          },
          "Active": {
            "type": "boolean"
          },
          "SpecCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "xp": {
            "type": "object"
          },
          "VariantCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "ShipFromAddressID": {
            "type": "string"
          },
          "Inventory": {
            "allOf": [{
              "$ref": "#/components/schemas/Inventory"
            }]
          },
          "DefaultSupplierID": {
            "type": "string"
          }
        }
      },
      "BuyerSpec": {
        "type": "object",
        "example": {
          "Options": [{
            "ID": "",
            "Value": "",
            "ListOrder": 1,
            "IsOpenText": false,
            "PriceMarkupType": "NoMarkup",
            "PriceMarkup": 0,
            "xp": {}
          }],
          "ID": "",
          "ListOrder": 1,
          "Name": "",
          "DefaultValue": "",
          "Required": false,
          "AllowOpenText": false,
          "DefaultOptionID": "",
          "DefinesVariant": false,
          "xp": {}
        },
        "properties": {
          "Options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecOption"
            },
            "readOnly": true
          },
          "ID": {
            "type": "string"
          },
          "ListOrder": {
            "type": "integer",
            "format": "int32"
          },
          "Name": {
            "type": "string"
          },
          "DefaultValue": {
            "type": "string",
            "maxLength": 2000
          },
          "Required": {
            "type": "boolean"
          },
          "AllowOpenText": {
            "type": "boolean"
          },
          "DefaultOptionID": {
            "type": "string"
          },
          "DefinesVariant": {
            "type": "boolean",
            "description": "True if each unique combinations of this Spec's Options map to unique Product Variants/SKUs."
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "Catalog": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "Description": "",
          "Active": false,
          "CategoryCount": 0,
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "maxLength": 100
          },
          "Description": {
            "type": "string",
            "maxLength": 2000
          },
          "Active": {
            "type": "boolean"
          },
          "CategoryCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "CatalogAssignment": {
        "type": "object",
        "example": {
          "CatalogID": "",
          "BuyerID": "",
          "ViewAllCategories": false,
          "ViewAllProducts": false
        },
        "properties": {
          "CatalogID": {
            "type": "string"
          },
          "BuyerID": {
            "type": "string"
          },
          "ViewAllCategories": {
            "type": "boolean"
          },
          "ViewAllProducts": {
            "type": "boolean"
          }
        }
      },
      "Category": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "Description": "",
          "ListOrder": 1,
          "Active": false,
          "ParentID": "",
          "ChildCount": 0,
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "maxLength": 100
          },
          "Description": {
            "type": "string",
            "maxLength": 2000
          },
          "ListOrder": {
            "type": "integer",
            "format": "int32",
            "description": "Order that the category appears within its parent or catalog (if root level).",
            "minimum": 0
          },
          "Active": {
            "type": "boolean",
            "description": "If false, buyers cannot see this Category or any Categories or Products under it."
          },
          "ParentID": {
            "type": "string",
            "description": "ID of the parent category."
          },
          "ChildCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true,
            "description": "Number of categories that are *immediate* children of this category."
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "CategoryAssignment": {
        "type": "object",
        "example": {
          "CategoryID": "",
          "BuyerID": "",
          "UserGroupID": "",
          "Visible": false,
          "ViewAllProducts": false
        },
        "properties": {
          "CategoryID": {
            "type": "string"
          },
          "BuyerID": {
            "type": "string"
          },
          "UserGroupID": {
            "type": "string"
          },
          "Visible": {
            "type": "boolean",
            "description": "Optional. Set to null to inherit from parent category or catlog level."
          },
          "ViewAllProducts": {
            "type": "boolean",
            "description": "Optional. Set to null to inherit from parent category or catlog level."
          }
        }
      },
      "CategoryProductAssignment": {
        "type": "object",
        "example": {
          "CategoryID": "",
          "ProductID": "",
          "ListOrder": 1
        },
        "properties": {
          "CategoryID": {
            "type": "string"
          },
          "ProductID": {
            "type": "string"
          },
          "ListOrder": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CostCenter": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "Description": "",
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "maxLength": 100
          },
          "Description": {
            "type": "string",
            "maxLength": 2000
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "CostCenterAssignment": {
        "type": "object",
        "example": {
          "CostCenterID": "",
          "UserGroupID": ""
        },
        "properties": {
          "CostCenterID": {
            "type": "string"
          },
          "UserGroupID": {
            "type": "string"
          }
        }
      },
      "CreditCard": {
        "type": "object",
        "example": {
          "ID": "",
          "Token": "",
          "DateCreated": "2018-01-01T00:00:00-06:00",
          "CardType": "",
          "PartialAccountNumber": "",
          "CardholderName": "",
          "ExpirationDate": "2018-01-01T00:00:00-06:00",
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Token": {
            "type": "string"
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "CardType": {
            "type": "string"
          },
          "PartialAccountNumber": {
            "type": "string",
            "maxLength": 5
          },
          "CardholderName": {
            "type": "string"
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "CreditCardAssignment": {
        "type": "object",
        "example": {
          "CreditCardID": "",
          "UserID": "",
          "UserGroupID": ""
        },
        "properties": {
          "CreditCardID": {
            "type": "string"
          },
          "UserID": {
            "type": "string"
          },
          "UserGroupID": {
            "type": "string"
          }
        }
      },
      "ImpersonateTokenRequest": {
        "type": "object",
        "example": {
          "ClientID": "",
          "Roles": ["DevCenter"]
        },
        "properties": {
          "ClientID": {
            "type": "string"
          },
          "Roles": {
            "type": "array",
            "enum": [
              "DevCenter",
              "DevCenterPasswordReset",
              "DevCenterValidateEmail",
              "GrantForAnyRole",
              "ApiClientAdmin",
              "ApiClientReader",
              "AddressAdmin",
              "AddressReader",
              "AdminAddressAdmin",
              "AdminAddressReader",
              "AdminUserAdmin",
              "AdminUserGroupAdmin",
              "AdminUserGroupReader",
              "AdminUserReader",
              "ApprovalRuleAdmin",
              "ApprovalRuleReader",
              "BuyerAdmin",
              "BuyerImpersonation",
              "BuyerReader",
              "BuyerUserAdmin",
              "BuyerUserReader",
              "CatalogAdmin",
              "CatalogReader",
              "CategoryAdmin",
              "CategoryReader",
              "CostCenterAdmin",
              "CostCenterReader",
              "CreditCardAdmin",
              "CreditCardReader",
              "FullAccess",
              "IncrementorAdmin",
              "IncrementorReader",
              "InventoryAdmin",
              "MeAddressAdmin",
              "MeAdmin",
              "MeCreditCardAdmin",
              "MessageConfigAssignmentAdmin",
              "MeXpAdmin",
              "OrderAdmin",
              "OrderReader",
              "OverrideShipping",
              "OverrideTax",
              "OverrideUnitPrice",
              "PasswordReset",
              "PriceScheduleAdmin",
              "PriceScheduleReader",
              "ProductAdmin",
              "ProductAssignmentAdmin",
              "ProductFacetAdmin",
              "ProductFacetReader",
              "ProductReader",
              "PromotionAdmin",
              "PromotionReader",
              "SecurityProfileAdmin",
              "SecurityProfileReader",
              "SetSecurityProfile",
              "ShipmentAdmin",
              "ShipmentReader",
              "Shopper",
              "SpendingAccountAdmin",
              "SpendingAccountReader",
              "SupplierAddressAdmin",
              "SupplierAddressReader",
              "SupplierAdmin",
              "SupplierReader",
              "SupplierUserAdmin",
              "SupplierUserGroupAdmin",
              "SupplierUserGroupReader",
              "SupplierUserReader",
              "UnsubmittedOrderReader",
              "UserGroupAdmin",
              "UserGroupReader",
              "OpenIDConnectReader",
              "OpenIDConnectAdmin",
              "MessageSenderReader",
              "MessageSenderAdmin",
              "XpIndexAdmin",
              "WebhookReader",
              "WebhookAdmin"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ImpersonationConfig": {
        "type": "object",
        "example": {
          "ID": "",
          "ImpersonationBuyerID": "",
          "ImpersonationGroupID": "",
          "ImpersonationUserID": "",
          "BuyerID": "",
          "GroupID": "",
          "UserID": "",
          "SecurityProfileID": "",
          "ClientID": ""
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "ImpersonationBuyerID": {
            "type": "string"
          },
          "ImpersonationGroupID": {
            "type": "string"
          },
          "ImpersonationUserID": {
            "type": "string"
          },
          "BuyerID": {
            "type": "string"
          },
          "GroupID": {
            "type": "string"
          },
          "UserID": {
            "type": "string"
          },
          "SecurityProfileID": {
            "type": "string"
          },
          "ClientID": {
            "type": "string"
          }
        }
      },
      "Incrementor": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "LastNumber": 0,
          "LeftPaddingCount": 0
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "maxLength": 100
          },
          "LastNumber": {
            "type": "integer",
            "format": "int32"
          },
          "LeftPaddingCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Inventory": {
        "type": "object",
        "example": {
          "Enabled": false,
          "NotificationPoint": 0,
          "VariantLevelTracking": false,
          "OrderCanExceed": false,
          "QuantityAvailable": 0,
          "LastUpdated": "2018-01-01T00:00:00-06:00"
        },
        "properties": {
          "Enabled": {
            "type": "boolean"
          },
          "NotificationPoint": {
            "type": "integer",
            "format": "int32"
          },
          "VariantLevelTracking": {
            "type": "boolean"
          },
          "OrderCanExceed": {
            "type": "boolean"
          },
          "QuantityAvailable": {
            "type": "integer",
            "format": "int32",
            "description": "Automatically decrements on order submit."
          },
          "LastUpdated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "LineItem": {
        "type": "object",
        "example": {
          "ID": "",
          "ProductID": "",
          "Quantity": 0,
          "DateAdded": "2018-01-01T00:00:00-06:00",
          "QuantityShipped": 0,
          "UnitPrice": 0,
          "LineTotal": 0,
          "CostCenter": "",
          "DateNeeded": "2018-01-01T00:00:00-06:00",
          "ShippingAccount": "",
          "ShippingAddressID": "",
          "ShipFromAddressID": "",
          "Product": {
            "ID": "",
            "Name": "",
            "Description": "",
            "QuantityMultiplier": 0,
            "ShipWeight": 0,
            "ShipHeight": 0,
            "ShipWidth": 0,
            "ShipLength": 0,
            "xp": {}
          },
          "Variant": {
            "ID": "",
            "Name": "",
            "Description": "",
            "ShipWeight": 0,
            "ShipHeight": 0,
            "ShipWidth": 0,
            "ShipLength": 0,
            "xp": {}
          },
          "ShippingAddress": {
            "ID": "",
            "DateCreated": "2018-01-01T00:00:00-06:00",
            "CompanyName": "",
            "FirstName": "",
            "LastName": "",
            "Street1": "",
            "Street2": "",
            "City": "",
            "State": "",
            "Zip": "",
            "Country": "",
            "Phone": "",
            "AddressName": "",
            "xp": {}
          },
          "ShipFromAddress": {
            "ID": "",
            "DateCreated": "2018-01-01T00:00:00-06:00",
            "CompanyName": "",
            "FirstName": "",
            "LastName": "",
            "Street1": "",
            "Street2": "",
            "City": "",
            "State": "",
            "Zip": "",
            "Country": "",
            "Phone": "",
            "AddressName": "",
            "xp": {}
          },
          "SupplierID": "",
          "Specs": [{
            "SpecID": "",
            "Name": "",
            "OptionID": "",
            "Value": ""
          }],
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "ProductID": {
            "type": "string"
          },
          "Quantity": {
            "type": "integer",
            "format": "int32",
            "default": 1,
            "minimum": 1
          },
          "DateAdded": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "QuantityShipped": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "UnitPrice": {
            "type": "number",
            "format": "float"
          },
          "LineTotal": {
            "type": "number",
            "format": "float",
            "readOnly": true
          },
          "CostCenter": {
            "type": "string"
          },
          "DateNeeded": {
            "type": "string",
            "format": "date-time"
          },
          "ShippingAccount": {
            "type": "string"
          },
          "ShippingAddressID": {
            "type": "string"
          },
          "ShipFromAddressID": {
            "type": "string"
          },
          "Product": {
            "allOf": [{
              "$ref": "#/components/schemas/LineItemProduct"
            }],
            "readOnly": true
          },
          "Variant": {
            "allOf": [{
              "$ref": "#/components/schemas/LineItemVariant"
            }],
            "readOnly": true
          },
          "ShippingAddress": {
            "allOf": [{
              "$ref": "#/components/schemas/Address"
            }],
            "readOnly": true
          },
          "ShipFromAddress": {
            "allOf": [{
              "$ref": "#/components/schemas/Address"
            }],
            "readOnly": true
          },
          "SupplierID": {
            "type": "string",
            "readOnly": true
          },
          "Specs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItemSpec"
            }
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "LineItemProduct": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "Description": "",
          "QuantityMultiplier": 0,
          "ShipWeight": 0,
          "ShipHeight": 0,
          "ShipWidth": 0,
          "ShipLength": 0,
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "QuantityMultiplier": {
            "type": "integer",
            "format": "int32"
          },
          "ShipWeight": {
            "type": "number",
            "format": "float"
          },
          "ShipHeight": {
            "type": "number",
            "format": "float"
          },
          "ShipWidth": {
            "type": "number",
            "format": "float"
          },
          "ShipLength": {
            "type": "number",
            "format": "float"
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "LineItemSpec": {
        "type": "object",
        "example": {
          "SpecID": "",
          "Name": "",
          "OptionID": "",
          "Value": ""
        },
        "properties": {
          "SpecID": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "readOnly": true
          },
          "OptionID": {
            "type": "string"
          },
          "Value": {
            "type": "string",
            "maxLength": 2000
          }
        }
      },
      "LineItemVariant": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "Description": "",
          "ShipWeight": 0,
          "ShipHeight": 0,
          "ShipWidth": 0,
          "ShipLength": 0,
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ShipWeight": {
            "type": "number",
            "format": "float"
          },
          "ShipHeight": {
            "type": "number",
            "format": "float"
          },
          "ShipWidth": {
            "type": "number",
            "format": "float"
          },
          "ShipLength": {
            "type": "number",
            "format": "float"
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "ListAddress": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListAddressAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListApiClient": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiClient"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListApiClientAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiClientAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListApprovalRule": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApprovalRule"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListBuyer": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Buyer"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListBuyerAddress": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BuyerAddress"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListBuyerCreditCard": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BuyerCreditCard"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListBuyerProduct": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BuyerProduct"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/MetaWithFacets"
          }
        }
      },
      "ListBuyerSpec": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BuyerSpec"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCatalog": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Catalog"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCatalogAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCategory": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCategoryAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCategoryProductAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryProductAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCostCenter": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostCenter"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCostCenterAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostCenterAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCreditCard": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditCard"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListCreditCardAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditCardAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListFacet": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "XpPath": {
            "type": "string"
          },
          "Values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListFacetValue"
            }
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "ListFacetValue": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "string"
          },
          "Count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ListImpersonationConfig": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImpersonationConfig"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListIncrementor": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Incrementor"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListLineItem": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListMessageCCListenerAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageCCListenerAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListMessageSender": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageSender"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListMessageSenderAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageSenderAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListOpenIdConnect": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenIdConnect"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListOrder": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListOrderApproval": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderApproval"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListOrderPromotion": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderPromotion"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListPayment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListPriceSchedule": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceSchedule"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListProduct": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListProductAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListProductCatalogAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductCatalogAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListProductFacet": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductFacet"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListPromotion": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Promotion"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListPromotionAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromotionAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListSecurityProfile": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityProfile"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListSecurityProfileAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityProfileAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListShipment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Shipment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListShipmentItem": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentItem"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListSpec": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Spec"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListSpecOption": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecOption"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListSpecProductAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecProductAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListSpendingAccount": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpendingAccount"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListSpendingAccountAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpendingAccountAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListSupplier": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Supplier"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListUser": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListUserGroup": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserGroup"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListUserGroupAssignment": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserGroupAssignment"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListVariant": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Variant"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListWebhook": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "ListXpIndex": {
        "type": "object",
        "properties": {
          "Items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XpIndex"
            }
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "MeBuyer": {
        "type": "object",
        "example": {
          "ID": "",
          "DefaultCatalogID": ""
        },
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true
          },
          "DefaultCatalogID": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "MessageCCListenerAssignment": {
        "type": "object",
        "example": {
          "MessageSenderAssignment": {
            "MessageSenderID": "",
            "BuyerID": "",
            "SupplierID": "",
            "UserGroupID": "",
            "MessageConfigName": "",
            "MessageConfigDescription": ""
          },
          "MessageConfigName": "",
          "MessageConfigDescription": "",
          "MessageType": "OrderDeclined",
          "BuyerID": "",
          "SupplierID": "",
          "UserGroupID": "",
          "UserID": ""
        },
        "properties": {
          "MessageSenderAssignment": {
            "allOf": [{
              "$ref": "#/components/schemas/MessageSenderAssignment"
            }]
          },
          "MessageConfigName": {
            "type": "string",
            "readOnly": true
          },
          "MessageConfigDescription": {
            "type": "string",
            "readOnly": true
          },
          "MessageType": {
            "enum": [
              "OrderDeclined",
              "OrderSubmitted",
              "ShipmentCreated",
              "ForgottenPassword",
              "OrderSubmittedForYourApproval",
              "OrderSubmittedForApproval",
              "OrderApproved",
              "OrderSubmittedForYourApprovalHasBeenApproved",
              "OrderSubmittedForYourApprovalHasBeenDeclined",
              "NewUserInvitation"
            ],
            "type": "string"
          },
          "BuyerID": {
            "type": "string"
          },
          "SupplierID": {
            "type": "string"
          },
          "UserGroupID": {
            "type": "string"
          },
          "UserID": {
            "type": "string"
          }
        }
      },
      "MessageSender": {
        "type": "object",
        "example": {
          "ID": "",
          "Name": "",
          "MessageTypes": ["OrderDeclined"],
          "Description": "",
          "URL": "",
          "ElevatedRoles": ["DevCenter"],
          "SharedKey": "",
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "MessageTypes": {
            "type": "array",
            "enum": [
              "OrderDeclined",
              "OrderSubmitted",
              "ShipmentCreated",
              "ForgottenPassword",
              "OrderSubmittedForYourApproval",
              "OrderSubmittedForApproval",
              "OrderApproved",
              "OrderSubmittedForYourApprovalHasBeenApproved",
              "OrderSubmittedForYourApprovalHasBeenDeclined",
              "NewUserInvitation"
            ],
            "items": {
              "type": "string"
            }
          },
          "Description": {
            "type": "string"
          },
          "URL": {
            "type": "string"
          },
          "ElevatedRoles": {
            "type": "array",
            "enum": [
              "DevCenter",
              "DevCenterPasswordReset",
              "DevCenterValidateEmail",
              "GrantForAnyRole",
              "ApiClientAdmin",
              "ApiClientReader",
              "AddressAdmin",
              "AddressReader",
              "AdminAddressAdmin",
              "AdminAddressReader",
              "AdminUserAdmin",
              "AdminUserGroupAdmin",
              "AdminUserGroupReader",
              "AdminUserReader",
              "ApprovalRuleAdmin",
              "ApprovalRuleReader",
              "BuyerAdmin",
              "BuyerImpersonation",
              "BuyerReader",
              "BuyerUserAdmin",
              "BuyerUserReader",
              "CatalogAdmin",
              "CatalogReader",
              "CategoryAdmin",
              "CategoryReader",
              "CostCenterAdmin",
              "CostCenterReader",
              "CreditCardAdmin",
              "CreditCardReader",
              "FullAccess",
              "IncrementorAdmin",
              "IncrementorReader",
              "InventoryAdmin",
              "MeAddressAdmin",
              "MeAdmin",
              "MeCreditCardAdmin",
              "MessageConfigAssignmentAdmin",
              "MeXpAdmin",
              "OrderAdmin",
              "OrderReader",
              "OverrideShipping",
              "OverrideTax",
              "OverrideUnitPrice",
              "PasswordReset",
              "PriceScheduleAdmin",
              "PriceScheduleReader",
              "ProductAdmin",
              "ProductAssignmentAdmin",
              "ProductFacetAdmin",
              "ProductFacetReader",
              "ProductReader",
              "PromotionAdmin",
              "PromotionReader",
              "SecurityProfileAdmin",
              "SecurityProfileReader",
              "SetSecurityProfile",
              "ShipmentAdmin",
              "ShipmentReader",
              "Shopper",
              "SpendingAccountAdmin",
              "SpendingAccountReader",
              "SupplierAddressAdmin",
              "SupplierAddressReader",
              "SupplierAdmin",
              "SupplierReader",
              "SupplierUserAdmin",
              "SupplierUserGroupAdmin",
              "SupplierUserGroupReader",
              "SupplierUserReader",
              "UnsubmittedOrderReader",
              "UserGroupAdmin",
              "UserGroupReader",
              "OpenIDConnectReader",
              "OpenIDConnectAdmin",
              "MessageSenderReader",
              "MessageSenderAdmin",
              "XpIndexAdmin",
              "WebhookReader",
              "WebhookAdmin"
            ],
            "items": {
              "type": "string"
            }
          },
          "SharedKey": {
            "type": "string"
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "MessageSenderAssignment": {
        "type": "object",
        "example": {
          "MessageSenderID": "",
          "BuyerID": "",
          "SupplierID": "",
          "UserGroupID": "",
          "MessageConfigName": "",
          "MessageConfigDescription": ""
        },
        "properties": {
          "MessageSenderID": {
            "type": "string"
          },
          "BuyerID": {
            "type": "string"
          },
          "SupplierID": {
            "type": "string"
          },
          "UserGroupID": {
            "type": "string"
          },
          "MessageConfigName": {
            "type": "string",
            "readOnly": true
          },
          "MessageConfigDescription": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "MeSupplier": {
        "type": "object",
        "example": {
          "ID": ""
        },
        "properties": {
          "ID": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "Page": {
            "type": "integer",
            "format": "int32"
          },
          "PageSize": {
            "type": "integer",
            "format": "int32"
          },
          "TotalCount": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "ItemRange": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "MetaWithFacets": {
        "type": "object",
        "properties": {
          "Facets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListFacet"
            }
          },
          "Page": {
            "type": "integer",
            "format": "int32"
          },
          "PageSize": {
            "type": "integer",
            "format": "int32"
          },
          "TotalCount": {
            "type": "integer",
            "format": "int32"
          },
          "TotalPages": {
            "type": "integer",
            "format": "int32"
          },
          "ItemRange": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "MeUser": {
        "type": "object",
        "example": {
          "Buyer": {
            "ID": "",
            "DefaultCatalogID": ""
          },
          "Supplier": {
            "ID": ""
          },
          "ID": "",
          "Username": "",
          "Password": "",
          "FirstName": "",
          "LastName": "",
          "Email": "",
          "Phone": "",
          "TermsAccepted": "2018-01-01T00:00:00-06:00",
          "Active": false,
          "xp": {},
          "AvailableRoles": [""],
          "DateCreated": "2018-01-01T00:00:00-06:00",
          "PasswordLastSetDate": "2018-01-01T00:00:00-06:00"
        },
        "properties": {
          "Buyer": {
            "allOf": [{
              "$ref": "#/components/schemas/MeBuyer"
            }],
            "readOnly": true
          },
          "Supplier": {
            "allOf": [{
              "$ref": "#/components/schemas/MeSupplier"
            }],
            "readOnly": true
          },
          "ID": {
            "type": "string"
          },
          "Username": {
            "type": "string",
            "maxLength": 100
          },
          "Password": {
            "type": "string",
            "format": "password"
          },
          "FirstName": {
            "type": "string",
            "maxLength": 100
          },
          "LastName": {
            "type": "string",
            "maxLength": 100
          },
          "Email": {
            "type": "string",
            "maxLength": 200
          },
          "Phone": {
            "type": "string",
            "maxLength": 100
          },
          "TermsAccepted": {
            "type": "string",
            "format": "date-time"
          },
          "Active": {
            "type": "boolean"
          },
          "xp": {
            "type": "object"
          },
          "AvailableRoles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "PasswordLastSetDate": {
            "type": "string",
            "format": "password",
            "readOnly": true
          }
        }
      },
      "OpenIdConnect": {
        "type": "object",
        "example": {
          "ID": "",
          "OrderCloudApiClientID": "",
          "ConnectClientID": "",
          "ConnectClientSecret": "",
          "AppStartUrl": "",
          "AuthorizationEndpoint": "",
          "TokenEndpoint": ""
        },
        "properties": {
          "ID": {
            "type": "string",
            "description": "ID of this OpenID Connect configuration object. Each object allows authentication to one Ordercloud ApiClient through one Identity Providing Party."
          },
          "OrderCloudApiClientID": {
            "type": "string",
            "description": "An ID that references an Ordercloud ApiClient."
          },
          "ConnectClientID": {
            "type": "string",
            "description": "An app ID from the Identity Provider that is required to get JWT tokens."
          },
          "ConnectClientSecret": {
            "type": "string",
            "description": "A secret string from the Identity Provider that grants access to get JWT tokens."
          },
          "AppStartUrl": {
            "type": "string",
            "description": "A URL on your front-end ordering site where users will be redirected after they authenticate through the Identity Provider. The string \"{token}\" will be replaced with a valid Ordercloud JWT."
          },
          "AuthorizationEndpoint": {
            "type": "string",
            "description": "A publicly known URL from the Identity Provider that redirects to a resource where users enter personal credentials."
          },
          "TokenEndpoint": {
            "type": "string",
            "description": "A publicly known URL from the Identity Provider where agents can get JWT tokens."
          }
        }
      },
      "Order": {
        "type": "object",
        "example": {
          "ID": "",
          "FromUser": {
            "ID": "",
            "Username": "",
            "Password": "",
            "FirstName": "",
            "LastName": "",
            "Email": "",
            "Phone": "",
            "TermsAccepted": "2018-01-01T00:00:00-06:00",
            "Active": false,
            "xp": {},
            "AvailableRoles": [""],
            "DateCreated": "2018-01-01T00:00:00-06:00",
            "PasswordLastSetDate": "2018-01-01T00:00:00-06:00"
          },
          "FromCompanyID": "",
          "FromUserID": "",
          "BillingAddressID": "",
          "BillingAddress": {
            "ID": "",
            "DateCreated": "2018-01-01T00:00:00-06:00",
            "CompanyName": "",
            "FirstName": "",
            "LastName": "",
            "Street1": "",
            "Street2": "",
            "City": "",
            "State": "",
            "Zip": "",
            "Country": "",
            "Phone": "",
            "AddressName": "",
            "xp": {}
          },
          "ShippingAddressID": "",
          "Comments": "",
          "LineItemCount": 0,
          "Status": "Unsubmitted",
          "DateCreated": "2018-01-01T00:00:00-06:00",
          "DateSubmitted": "2018-01-01T00:00:00-06:00",
          "DateApproved": "2018-01-01T00:00:00-06:00",
          "DateDeclined": "2018-01-01T00:00:00-06:00",
          "DateCanceled": "2018-01-01T00:00:00-06:00",
          "DateCompleted": "2018-01-01T00:00:00-06:00",
          "Subtotal": 0,
          "ShippingCost": 0,
          "TaxCost": 0,
          "PromotionDiscount": 0,
          "Total": 0,
          "IsSubmitted": false,
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "FromUser": {
            "allOf": [{
              "$ref": "#/components/schemas/User"
            }],
            "readOnly": true
          },
          "FromCompanyID": {
            "type": "string"
          },
          "FromUserID": {
            "type": "string"
          },
          "BillingAddressID": {
            "type": "string"
          },
          "BillingAddress": {
            "allOf": [{
              "$ref": "#/components/schemas/Address"
            }],
            "readOnly": true
          },
          "ShippingAddressID": {
            "type": "string",
            "description": "ID of the Shipping Address for all LineItems on the Order. Null when there are multiple Shipping Addresses involved."
          },
          "Comments": {
            "type": "string",
            "maxLength": 2000
          },
          "LineItemCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Status": {
            "enum": [
              "Unsubmitted",
              "AwaitingApproval",
              "Declined",
              "Open",
              "Completed",
              "Canceled"
            ],
            "type": "string",
            "readOnly": true
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "DateSubmitted": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "DateApproved": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "DateDeclined": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "DateCanceled": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "DateCompleted": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "Subtotal": {
            "type": "number",
            "format": "float",
            "readOnly": true
          },
          "ShippingCost": {
            "type": "number",
            "format": "float"
          },
          "TaxCost": {
            "type": "number",
            "format": "float"
          },
          "PromotionDiscount": {
            "type": "number",
            "format": "float",
            "readOnly": true
          },
          "Total": {
            "type": "number",
            "format": "float",
            "readOnly": true
          },
          "IsSubmitted": {
            "type": "boolean",
            "readOnly": true,
            "description": "True if this Order has been passed from the Buyer to the Seller."
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "OrderApproval": {
        "type": "object",
        "example": {
          "ApprovalRuleID": "",
          "ApprovingGroupID": "",
          "Status": "Pending",
          "AllowResubmit": false,
          "DateCreated": "2018-01-01T00:00:00-06:00",
          "DateCompleted": "2018-01-01T00:00:00-06:00",
          "Approver": {
            "ID": "",
            "Username": "",
            "Password": "",
            "FirstName": "",
            "LastName": "",
            "Email": "",
            "Phone": "",
            "TermsAccepted": "2018-01-01T00:00:00-06:00",
            "Active": false,
            "xp": {},
            "AvailableRoles": [""],
            "DateCreated": "2018-01-01T00:00:00-06:00",
            "PasswordLastSetDate": "2018-01-01T00:00:00-06:00"
          },
          "Comments": ""
        },
        "properties": {
          "ApprovalRuleID": {
            "type": "string",
            "readOnly": true
          },
          "ApprovingGroupID": {
            "type": "string",
            "readOnly": true
          },
          "Status": {
            "enum": [
              "Pending",
              "Approved",
              "Declined"
            ],
            "type": "string",
            "readOnly": true
          },
          "AllowResubmit": {
            "type": "boolean",
            "readOnly": true
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "DateCompleted": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "Approver": {
            "allOf": [{
              "$ref": "#/components/schemas/User"
            }],
            "readOnly": true
          },
          "Comments": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "OrderApprovalInfo": {
        "type": "object",
        "example": {
          "Comments": "",
          "AllowResubmit": false
        },
        "properties": {
          "Comments": {
            "type": "string",
            "maxLength": 2000
          },
          "AllowResubmit": {
            "type": "boolean"
          }
        }
      },
      "OrderPromotion": {
        "type": "object",
        "example": {
          "Amount": 0,
          "ID": "",
          "Code": "",
          "Name": "",
          "RedemptionLimit": 0,
          "RedemptionLimitPerUser": 0,
          "RedemptionCount": 0,
          "Description": "",
          "FinePrint": "",
          "StartDate": "2018-01-01T00:00:00-06:00",
          "ExpirationDate": "2018-01-01T00:00:00-06:00",
          "EligibleExpression": "",
          "ValueExpression": "",
          "CanCombine": false,
          "AllowAllBuyers": false,
          "xp": {}
        },
        "properties": {
          "Amount": {
            "type": "number",
            "format": "float",
            "readOnly": true
          },
          "ID": {
            "type": "string"
          },
          "Code": {
            "type": "string",
            "description": "Must be unique. Entered by buyer when adding promo to order.",
            "maxLength": 100
          },
          "Name": {
            "type": "string",
            "maxLength": 100
          },
          "RedemptionLimit": {
            "type": "integer",
            "format": "int32"
          },
          "RedemptionLimitPerUser": {
            "type": "integer",
            "format": "int32"
          },
          "RedemptionCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Description": {
            "type": "string",
            "maxLength": 2000
          },
          "FinePrint": {
            "type": "string",
            "description": "Terms, conditions, and other legal jargon.",
            "maxLength": 2000
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "EligibleExpression": {
            "type": "string",
            "maxLength": 400
          },
          "ValueExpression": {
            "type": "string",
            "maxLength": 400
          },
          "CanCombine": {
            "type": "boolean"
          },
          "AllowAllBuyers": {
            "type": "boolean",
            "description": "Allow promo to be used by all buyers without creating assignments."
          },
          "xp": {
            "type": "object"
          }
        }
      },
      "PasswordConfig": {
        "type": "object",
        "example": {
          "ExpireInDays": 0
        },
        "properties": {
          "ExpireInDays": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        }
      },
      "PasswordReset": {
        "type": "object",
        "example": {
          "ClientID": "",
          "Username": "",
          "Password": ""
        },
        "properties": {
          "ClientID": {
            "type": "string"
          },
          "Username": {
            "type": "string"
          },
          "Password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "PasswordResetRequest": {
        "type": "object",
        "example": {
          "ClientID": "",
          "Email": "",
          "Username": "",
          "URL": ""
        },
        "properties": {
          "ClientID": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Username": {
            "type": "string"
          },
          "URL": {
            "type": "string"
          }
        }
      },
      "Payment": {
        "type": "object",
        "example": {
          "ID": "",
          "Type": "PurchaseOrder",
          "DateCreated": "2018-01-01T00:00:00-06:00",
          "CreditCardID": "",
          "SpendingAccountID": "",
          "Description": "",
          "Amount": 0,
          "Accepted": false,
          "xp": {},
          "Transactions": [{
            "ID": "",
            "Type": "",
            "DateExecuted": "2018-01-01T00:00:00-06:00",
            "Amount": 0,
            "Succeeded": false,
            "ResultCode": "",
            "ResultMessage": "",
            "xp": {}
          }]
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Type": {
            "enum": [
              "PurchaseOrder",
              "CreditCard",
              "SpendingAccount"
            ],
            "type": "string"
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "CreditCardID": {
            "type": "string"
          },
          "SpendingAccountID": {
            "type": "string"
          },
          "Description": {
            "type": "string",
            "maxLength": 2000
          },
          "Amount": {
            "type": "number",
            "format": "float",
            "description": "If null, Payment applies to order total (or total of specific Line Items, if set), minus any other Payments where Amount is set.",
            "minimum": 0.01
          },
          "Accepted": {
            "type": "boolean"
          },
          "xp": {
            "type": "object"
          },
          "Transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentTransaction"
            },
            "readOnly": true
          }
        }
      },
      "PaymentTransaction": {
        "type": "object",
        "example": {
          "ID": "",
          "Type": "",
          "DateExecuted": "2018-01-01T00:00:00-06:00",
          "Amount": 0,
          "Succeeded": false,
          "ResultCode": "",
          "ResultMessage": "",
          "xp": {}
        },
        "properties": {
          "ID": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          },
          "DateExecuted": {
            "type": "string",
            "format": "date-time"
          },
          "Amount": {
            "type": "number",
            "format": "float",
            "description": "Usually the same as Payment Amount, but can be different. A charge might have a subsequent partial credit, for example."
          },
          "Succeeded": {
[...]
